-if(message)
  span(class='message')= message
-if(nickname)
  span(class='name')= nickname
-if(posts)
  -for(var i=0;i<posts.length;i++)
    div(class='post')
      span(class='nick')= posts[i].nickname
      span(class='body')= posts[i].body
      span(class='date')= posts[i].date